body {
  /* background: navy; */
  font-family: sans-serif;
  background-color: #173341;

}

h1,
h2 {
  text-align: center;
  color: #f9c495;
}

p {
  text-align: center;
  color: #f9c495;
}

input {
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

a {
  text-align: center;
  color: #f9c495;
  text-decoration: none;
}

a:hover {
  color: #152e82;
  text-decoration: none;
}

.enter {
  border: #f9c495 solid 5px;
  text-align: center;
  display: block;
  border-radius: 25px;
  margin-left: 30%;
  margin-right: 30%;
}

.enter_input {
  display: flex;
  flex-direction: column;
  /* color: white; */
}

.input_box {
  display: inline-block;
  font-size: 17px;
  margin: auto;
  padding: 6px 0;
  width: 364px;
}

.submit {
  background-color: #2c6981;
  color: #f9c495;
}

.submit:hover {
  background-color: #173341;
  color: #f9c495;
  border: #f9c495 solid 1px;
}

div {}